.dsky-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.dsky-panel-container {
    display: grid;
    grid-template-columns: auto 208px auto 208px auto
}

.left-panel {
    grid-column: 2
}

.right-panel {
    grid-column: 4
}

.keys {
    grid-row: 2;
}