.public-DraftEditor-content {
    font-family: 'Courier New', Courier, monospace;
}

.textarea {
    font-family: 'Courier New', Courier, monospace;
}
.asmline {
    font-family: 'Courier New', Courier, monospace;
    inline-size: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    overflow: hidden;
}